.container {
  align-items: flex-start;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.listContainer {
  list-style: none;
  height: calc(100vh - 58px - 27px);
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
}

.buttonsContainer {
  align-items: flex-start;
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  width: 100%;
}

.squad {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 100%;
}

.squadName {
  flex-grow: 1;
}

.squadButton {
  align-items: center;
  display: flex;
  border: none;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.mainButton {
  border: none;
  padding: 6px;
  width: 100%;
}
