.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.section {
  margin: 0 6px 6px 6px;
  width: calc(100% - 12px);
}

.section:first-child {
  margin: 6px;
}

.sectionHeading {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 6px;
}

.squadContainer {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 67px));
  max-width: 300px;
  width: 100%;
}

.notification {
  font-size: 10px;
}

@media screen and (min-width: 370px) {
  .squadSection {
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
  }

  .section:first-child {
    margin: 10px;
  }

  .squadContainer {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(60px, 67px));
  }
}
