.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.section {
  margin: 0 12px 12px 12px;
  width: calc(100% - 12px);
}

.section:first-child {
  margin: 12px;
}

.squadSection {
  margin: 0 10px 10px 10px;
  width: calc(100% - 20px);
}

.section:first-child {
  margin: 10px;
}

.squadContainer {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fill, 80px);
  row-gap: 10px;
  width: 100%;
}
